@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {

    --preto: #0C0B0B;
    --cinza: #0F0E0E;
    --branco: #B7B7B7;
    --verde: #046313;
    --azul: #044A7D;
    --amarelo: #725200;
}

* {
    margin: 0;
    padding: 0;
    color: var(--branco);
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: var(--preto);
    height: 100vh;
}

main {
    width: 100vw;
    padding: 10px 0;
    background-color: var(--cinza);
}

/* -------------- HEADER ---------------------- */
#header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#user-photo {
    border-radius: 100%;
}

#user-info {
    text-align: center;
    padding: 10px;
}

#user-name {
    font-size: 20px;
    font-weight: bold;
}

#user-social {
    font-size: 14px;
}

#edit-button {
    text-align: center;
    background-color: rgb(48, 47, 47);
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
}
/* -------------- END HEADER -------------------- */

/* -------------------- STATS ------------------- */
#stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    padding-top: 20px;
}

.stats-item {
    width: 60vw;
    padding: 20px 20px;
    border-radius: 10px;
}

.item-title {
    font-size: 14px;
}

.numbers {
    font-size: 50px;
}

#projects {
    background-color: var(--verde);
}

#stars {
    background-color: var(--azul);
}

#followers {
    background-color: var(--amarelo);
}

/* -----------------END STATS ------------------- */

/* ----------------- FOOTER --------------------- */
footer {
    padding-top: 20px;
    text-align: center;
}

#contact {
    padding: 10px 0;
}

#contact a {
    margin: 0px 5px;
}
/*-------------------- END FOOTER --------------- */

@media screen and (min-width: 900px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main {
        width: 50vw;
        height: 40vh;
        padding: 20px;
    }
    
    #user-info {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center;
        gap: 15px;
        text-align: justify;
    }

    #header {
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin: auto;
    }

    #stats {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .stats-item {
        width: 10vw;
    }

}